body {background-color:#deefee;
     margin: 0px;
     font-size: 1.25rem;}
		
hr {border-style: none;
	border-top: 5px dotted rgb(102, 108, 104) ;
	width: 2%;}


h1 {color: #202827;
     font-family: "monaco", monospace ;
     line-height: 65px;}


h2 {color: #0e7367;
     font-family: "monaco", monospace ;}

h3 {color:#717575;
     font-family: "Arial",Sans-serif ;
     font-size: 1.2rem;}

.prof_table {margin: auto;}

.myDiv1 {padding-top: 30px;}

.sce_div {margin: 0 auto 0 auto;
     width: 800px;
     padding-top: 50px;
     padding-bottom: 50px;}

.cloud1 {position: absolute;
     height: 100px;
     width: 150px;
     right: 600px;}

/*.cloud2 {position: absolute;
     height: 100px;
     width: 150px;
     left: 300px;
     top: 300px;}*/

.scenery {height: 350px;
     width: 800px;}

.myDiv2 {padding: 0px;}

.logo img {height: 100px;
     width: 100px;
     border-radius: 100%;}

.edu {padding: 30px;
     background-color: #b4d7d0;}

.edu-div {width: 1200px;
     margin: auto;}     

.skills {padding: 30px;
     background-color: #94d9d1;}

.skills-div {width: 1200px;
     margin: auto;}    

.intr {padding: 30px;
     background-color: #81c0b3;}

.intr-div {width: 1200px;
     margin: auto;}    

.container {background-color: #339c91;}

.my_bio {font-family: 'Merriweather', serif;
     font-size: 1.3rem;}

/*navugation menu*/    
.nav_div {position: fixed;
     width: -webkit-fill-available;}

.nav_menu {list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333333;}
   
.nav {float: right;}

.nav a {display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;}

.nav a:hover {background-color: #111111;}

/*Footer*/

.foot_div {background-color: #339c91;
     padding: 30px;
     font-size: 1rem;}

.footer-list {list-style-type: none;
     padding: 0;
     overflow: hidden;
     background-color: #339c91;}
   
.footer-list li a {display: block;
  color: rgb(6, 94, 75);
  text-align: center;
  padding: 16px;
  text-decoration: none;}

.nav2 {float: center;}

.footer-list a:hover {color: #82cbbc;}

.copy_r {text-align: center;}

#profile_img {border-radius: 80%;}

#greeting {text-shadow: 3px 3px 3px #c3c2c2;
     font-family: 'Sacramento', cursive;
     font-size: 3.5rem;}

/* Contact.html */
.detail_div {padding-top: 30px;
     padding-left: 30px;}
     
.fill {padding-left: 50px;
     padding-top: 10px;
     background-color: #c6e3e1;}
