body {background-color:#deefee;
     margin: 0px;}
		
hr {border-style: none;
	border-top: 5px dotted rgb(118, 154, 130) ;
	width: 2%;}


h1 {color: #288d82;
     font-family: "monaco", monospace ;}


h2 {color: #0e7367;
     font-family: "monaco", monospace ;}

h3 {color:#59b5a2;
     font-family: "Arial",Sans-serif ;
     font-size: 15px;}

.prof_table {margin: auto;}

.myDiv1 {padding-top: 30px;}

.sce_div {margin: 0 auto 0 auto;
     width: 800px;}

.cloud1 {position: absolute;
     height: 100px;
     width: 150px;
     right: 600px;}

/*.cloud2 {position: absolute;
     height: 100px;
     width: 150px;
     left: 300px;
     top: 300px;}*/

.sceery {height: 470px;
     width: 800px;}

.myDiv2 {margin-left: 20px;
     margin-right: 20px;
     padding: 5px;}

.container {background-color: #339c91;}

.my_bio {font-family: 'Merriweather', serif;
     font-size: 20px;}

.detail_div {padding-top: 30px;}
/*navugation menu*/    
.nav_div {position: fixed;
     width: -webkit-fill-available;}

.nav_menu {list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333333;}
   
.nav {float: right;}

.nav a {display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;}

.nav a:hover {background-color: #111111;}

/*Footer*/

.footer-list {list-style-type: none;
     padding: 0;
     overflow: hidden;
     background-color: #269792;}
   
.footer-list li a {display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;}

.footer-list a:hover {color: #086a56;}

.copy_r {text-align: center;}

#profile_img {border-radius: 80%;}

#greeting {text-shadow: 3px 3px 3px #c3c2c2;
     font-family: 'Sacramento', cursive;
     font-size: 55px;}
